body      {background-color:#ffffff;color:#000000}
h1        {margin-top:18.0pt;margin-right:0pt;margin-bottom:18.0pt;margin-left:0pt;direction:rtl;text-align:center;text-indent:0pt;font-size:18.0pt;font-family:"David";font-weight:bold}
h2        {margin-top:16.0pt;margin-right:0pt;margin-bottom:16.0pt;margin-left:0pt;direction:rtl;text-align:center;text-indent:0pt;font-size:16.0pt;font-family:"David";font-weight:bold}
h3        {margin-top:14.0pt;margin-right:0pt;margin-bottom:14.0pt;margin-left:0pt;direction:rtl;text-align:center;text-indent:0pt;font-size:14.0pt;font-family:"David";font-weight:bold}
h4        {margin-top:6.0pt;margin-right:0pt;margin-bottom:6.0pt;margin-left:0pt;direction:rtl;text-align:justify;text-indent:0pt;font-size:12.0pt;font-family:"David";font-weight:bold}
p         {margin-top:2.0pt;margin-bottom:2.0pt;direction:rtl;text-align:justify;text-indent:0pt;font-size:12.0pt;font-family:"David"}
p.c       {margin-top:0pt;margin-bottom:0pt;direction:ltr;text-align:center;text-indent:0pt;font-size:9.0pt;font-family:"Arial"}
a:link    {color:#000000;text-decoration:none}
a:visited {color:#000000;text-decoration:none}
a:active  {text-decoration:none}
a:hover   {color:#000000;text-decoration:underline}
